:root {
    --ana-renk: white;
   
    --ikincil-renk: black;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--ana-renk);
    color: var(--ikincil-renk);
    line-height: 1.7;
    height: 100%;
}

.navbar-ozel {
    background-color: var(--ana-renk) !important;
    border-bottom: 2px solid var(--ikincil-renk);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.nav-link {
    color: var(--ikincil-renk) !important;
    font-weight: 500;
    margin: 0 8px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--ikincil-renk) !important;
    transform: translateY(-2px);
}

/* Ekran Boyutu Küçüldükçe Gelen 3 Çizgi */
.navbar-toggler-icon{
    background-image: url("https://img.icons8.com/?size=100&id=8113&format=png&color=000000");
}

.navbar-toggler{
    border: none;
}
/* Ekran Boyutu Küçüldükçe Gelen 3 Çizgi */

/* Ana Sayfadaki Hareketli HES Yazısı */
.yazi {
    animation: buyuKucul 2s infinite ease;
}

@keyframes buyuKucul {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}
/* Ana Sayfadaki Hareketli HES Yazısı */

.bilgi-kutu{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.anasayfa-yazi{
    font-size: 20px;
    font-weight: 500; 
}

.btn-ozel {
    background-color: var(--ikincil-renk);
    color: var(--ana-renk);
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-ozel:hover {
    background-color: var(--ana-renk);
    box-shadow: 0 0 15px var(--ikincil-renk);
    transform: scale(1.05);
}

.hakkimizda-yazi{
    font-size: 18px;
    font-weight: 500;
}

.kategori {
    overflow: hidden;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--ikincil-renk);
}

.kategori-link {
    text-decoration: none;
    display: block;
}

.kategori-img {
    height: 200px;
    overflow: hidden;
}

.kategori-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.15);
    transition: transform 0.4s ease;
}

.kategori:hover {
    transition: all 0.2s ease;
    transform: scale(1.01) translateY(-5px);
}

.kategori:hover img {
    transform: scale(1.25);
}

.urunler {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--ikincil-renk);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.urun-kutu {
    justify-content: center;
}

.urunler img {
    object-fit: contain;
    max-height: 200px;
}

.urunler .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.urunler .btn{
    margin-top: auto;
}

.urunler:hover{
    transition: all 0.2s ease;
    transform: scale(1.01) translateY(-5px);
}

.card-text{
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 7px;
}

.card-text-fiyat{
    font-size: 14pt;
    font-weight: 500;
    margin-top: -4px;
}

.indirim-bosluk{
    margin-left: 3px;
    font-size: 11pt;
    color: gray;
}

/* SSS Açılır Buttonlar */
.accordion-wrapper {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.accordion-item {
    background: transparent;
    border: none;
    border-radius: 16px;
    overflow: hidden;
}

.accordion-button {
    background: #e0e0e0;
    color: var(--ikincil-renk);
    font-weight: 600;
    border-radius: 16px;
    margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
    background: #cfcfcf;
    color: var(--ikincil-renk);
    box-shadow: none;
    border-radius: 16px 16px 0 0;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}

.accordion-button::after {
    filter: grayscale(100%);
}

.accordion-body {
    background: #ededed;
    border-radius: 8px;
    margin-bottom: 10px;
    color: var(--ikincil-renk);
    border-radius: 0 0 16px 16px;
}
/* SSS Açılır Buttonlar */

/* Kontrol Tablo */
.form-control {
    background-color: var(--ana-renk);
    border: 1px solid var(--ikincil-renk);
    color: var(--ikincil-renk);
    padding: 15px;
}

.form-control:focus {
    background-color: var(--ana-renk);
    border-color: var(--ikincil-renk);
    color: var(--ikincil-renk);
    box-shadow: 0 0 0 0.25rem rgb(206, 206, 206);
}

.bolum-bosluk{
    padding-top: 5px;
    padding-bottom: 8px;
}
/* Kontrol Tablo */

/* Flaş Ürünler Üst Kutusu */
.hero-section {
    display: flex; gap: 20px; margin-top: 20px; height: 150px; text-align: center; 
}  

.main-slider {
    flex: 3; border-radius: 8px; position: relative; overflow: hidden; display: flex; align-items: center; justify-content: center;
}

.kayan-gradient {
    background: linear-gradient(
        270deg,
        #ff416c,
        #ff4b2b,
        #1e90ff,
        #00c9a7
    );
    background-size: 600% 600%;
    animation: gradientKay 8s ease infinite;
}

@keyframes gradientKay {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* Flaş Ürünler Üst Kutusu */

/* İndirim ve Özel Fırsat Yazıları */
.discount-badge {
    position: absolute; top: 10px; left: 10px; background: #d32f2f; color: var(--ana-renk); padding: 3px 8px; font-size: 13px; border-radius: 3px; font-weight: 700; z-index: 3; border: 1px solid var(--ikincil-renk);
}

.ozel-firsat{
    background: linear-gradient(90deg,rgba(255, 65, 108, 1) 0%, rgba(237, 163, 83, 1) 100%);
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
    padding: 2px 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/* İndirim ve Özel Fırsat Yazıları */

/* En Çok Satan Yazısı */
.cok-satan{
    background: linear-gradient(90deg,rgba(255, 197, 71, 1) 0%, rgba(255, 151, 41, 1) 100%);
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
    padding: 2px 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/* En Çok Satan Yazısı */

/* Hakkımızda sayfasının alt kısmı */
.icon {
    margin-bottom: 25px; display: block;
}

.value-card h3 {
    margin-bottom: 15px; font-size: 20px;
}

.value-card p {
    color: #666; font-size: 15px;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.value-card {
    background: white;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    border-bottom: 4px solid transparent;
}

.value-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-bottom: 4px solid black;
}
/* Hakkımızda sayfasının alt kısmı */

/* Kategori Açılır Menü */
.dropdown-menu {
  border-radius: 8px;
  padding: 8px 0;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.dropdown-item {
  font-size: 14px;
  padding: 8px 20px;
  transition: background 0.2s ease, padding-left 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  padding-left: 26px;
}
/* Kategori Açılır Menü */

.footer-ozel {
    background-color: var(--ana-renk);
    margin-top: 50px;
    border-top: 2px solid var(--ikincil-renk);
    margin-bottom: 0;
}

.alt-footer {
    font-size: 14px;
    padding: 2px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.resim{
    width: 40px;
    height: 40px;
}
